<div class="margintop30px"></div>

<h2><a href="/"><img src="/logo.png"></a></h2>
<div class="margintop20px"></div>

	<!--<img src="/item_image/<%= @item.image_name %>" class="item_img">-->
	<!--<div class="info">-->
	<!--					<br><br>-->
	<!--					<table class="type04">-->
	<!--						<tr>-->
	<!--							<th scope="row"><%= @item.id %></th>-->
	<!--							<td>内容がはいります。</td>-->
	<!--						</tr>-->
	<!--						<tr>-->
	<!--							<th scope="row"><%= @item.name %></th>-->
	<!--							<td>内容がはいります。</td>-->
	<!--						</tr>-->
	<!--						<tr>-->
	<!--							<th scope="row"><%= @item.image_name %></th>-->
	<!--							<td>内容がはいります。</td>-->
	<!--						</tr>-->
	<!--					</table>-->
	<!--				</div>-->
					
	<!--				<div class="clear"></div>-->
					
	<!--</div>-->
	
	
	
	
	
	
	
	
	
<div class="margin2">
	<h2 class="title">PRODUCTS</h2>
	<div class="margintop120px"></div>
	<h2 class="item_name">酒々井の夜明け</h2>
	<p>祝う、味わう、響き合う</p>
	

	<div class="margintop120px"></div>
	<!--商品紹介アニメーション-->

	<div class="float">
		<div class="slider-container">
		  <div class="slider">
		    <div><img src="/img6.jpg"></div>
		    <div><img src="/img5.jpg"></div>
		    <div><img src="/img3.jpg"></div>
		    <div><img src="/img4.jpg"></div>
		  </div>
		</div>
		<div class="slider-nav-container">
		  <div class="slider-nav"></div>
		</div>
	</div>
	<div class="clearfix"></div>
	
	<div class="margintop120px"></div>
	<!--商品詳細-->
	<h3 class="detail_title">酒々井の夜明け</h3>
	<div class="category">
		
	</div>
	<div class="main_content">
		<dl class="pay">
			<dt>販売価格</dt>
			<dd class="price">
				<span id="price02_default">5,500</span>
				<span id="price02_dynamic">円(税込）</span>
			</dd>
		</dl>
		<div class="main_comment">本数：1　容量：700ml</div>
		<!--買い物カゴ-->
		<div class="margintop30px"></div>
		<div class="cartBox">
			<div class="cart_area">
				<div class="quantity">
					<label>
						<span style="color:white; font-size:110%">数量：</span>
						<select name="quantity">
							<option value="1" selected="true">1</option>
						</select>
					</label>
				</div>
				<div class="cartin_btn">
					<div class="cartbtn_default">
						<a><i class="fa fa-shopping-cart"></i>カートに入れる</a>
					</div>
				</div>
				<div class="attention" id="cartbtn_dynamic"></div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
	


	<div class="margintop120px"></div>
	
	<div class="landingblock">
		<div class="wrap_items">
			<ul class="item_show">
				<!--1つ目-->
				<li class="item_show_li">
					<div class="block">
						<div class="Pt">
						</div>
						<div class="textBox">
							<div class="table">
								<div class="tableCell">
									<h2>澄んだ水が育む上品な味</h2><br>
									<p>新潟県の澄んだ空気を吸っています。
									100年以上の歴史があります。
									コンクールでの受賞歴も。</p>
								</div>
							</div>
						</div>
					</div>
				</li>
				
				<!--2つ目-->
				<li class="item_show_li">
					<div class="block">
						<div class="thumb">
							<img src="/img4.jpg">
						</div>
					</div>
				</li>
				
				<li class="pc">
					<div class="block">
						<div class="thumb">
							<img src="/img10.jpg">
						</div>
					</div>
				</li>
				
				<!--4つ目-->
				<li class="item_show_li">
					<div class="block">
						<div class="Pt">
						</div>
						<div class="textBox">
							<div class="table">
								<div class="tableCell">
									<h2>澄んだ水が育む上品な味</h2><br>
									<p>新潟県の澄んだ空気を吸っています。
									100年以上の歴史があります。
									コンクールでの受賞歴も。</p>
								</div>
							</div>
						</div>
					</div>
				</li>
				
				<!--5つ目-->
				<li class="item_show_li">
					<div class="block">
						<div class="Pt">
						</div>
						<div class="textBox">
							<div class="table">
								<div class="tableCell">
									<h2>澄んだ水が育む上品な味</h2>
									<p>新潟県の澄んだ空気を吸っています。
									100年以上の歴史があります。
									コンクールでの受賞歴も。</p>
								</div>
							</div>
						</div>
					</div>
				</li>
				
				<!--6つ目-->
				<li class="item_show_li">
					<div class="block">
						<div class="thumb">
							<img src="/img1.jpg">
						</div>
					</div>
				</li>
				<!--6つ目終わり-->
			
			</ul>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<div class="margintop120px"></div><div class="margintop120px"></div>
<!--買い物カゴ-->
		<div class="margintop30px"></div>
		<div class="cartBox">
			<div class="cart_area">
				<div class="quantity">
					<label>
						<span style="color:white; font-size:110%">数量：</span>
						<select name="quantity">
							<option value="1" selected="true">1</option>
						</select>
					</label>
				</div>
				<div class="cartin_btn">
					<div class="cartbtn_default">
						<a><i class="fa fa-shopping-cart"></i>カートに入れる</a>
					</div>
				</div>
				<div class="attention" id="cartbtn_dynamic"></div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
	
<div class="margintop120px"></div><div class="margintop120px"></div>
<div class="margin2">
<iframe src="../iframehtml/hidamali/test.html" frameborder="0" width="100%" height="1300"></iframe>
</div>
<% if user_signed_in? %>
					<a href="/orders/<%= @item.id %>/new" class="buy_btn">購入ページへ</a>
					<div class="buy_btn"><%= link_to("カートへ入れる", "/carts/#{@item.id}/add_item", {method: "post"}) %></div>
				<% else %>
				  ご購入前に新規登録またはログインしてください。
				  <div class="margintop30px"></div>
					<div class="buy_btn"><%= link_to("新規登録", "/users/sign_up") %></div>
					<div class="buy_btn"><%= link_to("ログイン", "/users/sign_in") %></div>
<% end %>

<script>
$(function(){

$('.slider').slick();

});
var $slider_container = $('.slider-container'),
    $slider = $('.slider'),
    $slider_nav_container = $('.slider-nav-container'),
    $slider_nav = $('.slider-nav');

// ナビゲーション用に複製
$slider_nav.append($slider.contents().clone());

// スライド初期化時にクラスを追加
// はじめはdisplay:noneしておき、.initializedが追加されたらdisplay:block
$slider.on('init', function(){
  $slider_container.addClass('initialized');
});
$slider_nav.on('init', function(){
  $slider_nav_container.addClass('initialized');
});

$slider.slick({
  arrows: false,
  asNavFor: $slider_nav,
  fade: true,
  waitForAnimate: false
});
$slider_nav.slick({
  appendArrows: $slider_nav_container,
  prevArrow: '<div class="slider-arrow slider-prev fa fa-angle-left"></div>',
  nextArrow: '<div class="slider-arrow slider-next fa fa-angle-right"></div>',
  slidesToShow: 3,
  asNavFor: $slider,
  focusOnSelect: true,
  centerMode: true,
  centerPadding: '40px'
});

// スライドの横幅を小数点以下pxまで表示
// 今回はcenterPaddingもあるのでその分も計算しています
$slider_nav.on('setPosition', function(){
  var slider_width = $slider_nav.width(),
      slide_gutter = $slider_nav.find('.slick-slide').eq(0).css('margin-right').split('px')[0],
      slides_num = $slider_nav.slick('slickGetOption', 'slidesToShow'),
      slides_center_padding = $slider_nav.slick('slickGetOption', 'centerPadding').split('px')[0],
      slide_width = (slider_width - slide_gutter * (slides_num - 1) - (slides_center_padding * 2)) / slides_num;
  $slider_nav.find('.slick-slide').css('width', slide_width + 'px');
});
</script>